cffi==1.13.2
Click==7.0
cryptography==2.8
dnspython==1.16.0
Flask==1.1.1
future==0.18.2
getmac==0.8.1
impacket==0.9.20
ipwhois==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
ldap3==2.5.1
ldapdomaindump==0.9.1
MarkupSafe==1.1.1
netifaces==0.10.9
pcapy==0.11.4
pyasn1==0.4.7
pycparser==2.19
pycryptodomex==3.9.1
pyOpenSSL==19.0.0
six==1.13.0
Werkzeug==0.16.0
whois==0.9.4
